<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>

   <h3>Você precisa preencher todos os campos</h3>
    <% @client.errors.full_messages.each do |msg| %>
      <p><%= msg %></P>
    <% end %>
  <% end %>
<div class="form-group ">
  <%= f.label :cnpj, 'CNPJ' %>
  <%= f.text_field :cnpj, class: "form-control"%>
</div>
<div class="form-group ">
  <%= f.label :razao_social, 'Razão Social' %>
  <%= f.text_field :razao_social, class: "form-control"%> 
</div>
<div class="form-group ">
  <%= f.label :n_funcionarios, 'Número de Funcionarios' %>
  <%= f.number_field :n_funcionarios, class: "form-control"%>
</div>
  <%= f.submit 'Salvar', class: "btn btn-outline-primary" %>
  <%= link_to 'Voltar', root_path, class: "btn btn-outline-primary" %>
</div>
<% end %>
