<h1> Detalhes do Cliente</h1>
<br>
<ul>
    <li><%= @client.cnpj %></li>
    <li><%= @client.razao_social %></li>
    <li><%= @client.n_funcionarios %></li>
    <li><%= @client.n_processos %></li>
  </ul>
<br>
<%= link_to 'Voltar', root_path %>
