<p id="notice"><%= notice %></p>

<div align="center" class="h1">
  <h1 class="h1">Processos</h1>
</div>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Situação</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @processos.each do |processo| %>
      <% if processo.status == 1 %>
        <tr>
          <td><%= processo.nome %></td>
          <td><%= processo.descricao %></td>
          <td><%= processo.situacao %></td>
          <td><%= link_to 'Mostrar', processo, class: "btn btn-success" %></td>
          <td><%= link_to 'Editar', edit_processo_path(processo), class: "btn btn-warning" %></td>
          <td><%= link_to 'Apagar', processo, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<div align="center">
  <%= link_to 'Home', home_index_path, class: "btn btn-primary" %>
  <%= link_to 'Novo Processo', new_processo_path, class: "btn btn-primary" %>
</div>
