<p id="notice"><%= notice %></p>
<div align="center">
  <h1>Processos</h1>
</div>

<h2>
  <strong>Nome:</strong>
  <%= @processo.nome %>
</h2>

<p>
  <strong>Descrição:</strong>
  <%= @processo.descricao %>
</p>

<p>
  <strong>Situação:</strong>
  <%= @processo.situacao %>
</p>

<%= link_to 'Editar', edit_processo_path(@processo), class: "btn btn-primary" %>
<%= link_to 'Voltar', processos_path, class: "btn btn-primary" %>
