<!DOCTYPE html>
<html>
  <head>
    <title>DesBackEnd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home/index">Yube</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="navbar-nav mr-auto">
          <%= link_to 'Clientes', clientes_path, class:"nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to 'Processos', processos_path, class:"nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
    <div class="container">
      <!-- Content here -->
      <%= yield %>
      </div>
    </div>
  </body>
</html>
